.account-sidenav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-sidenav-list-item-link {
  text-transform: uppercase;
  color: theme-get-color('primary');
  text-decoration: none;
}

.account-sidenav-list-item {
  margin-bottom: get-spacing('sm');
}

.account-sidenav {
  float: left;
}

.account-sidenav {
  @media screen and (max-width: map-get($screens, 'md')) {
    float: none;
  }
}
.account-sidenav {
  margin-bottom: 2rem;
}
