{% include 'partials/header/topper.html.twig' %}
<!-- Base Header -->
<header class="header-lower">
    <section class="container auto flex size-full">
        {% include 'partials/header/logo.html.twig' %}

        <section class="ml-auto flex">
            {% include 'partials/header/menu.html.twig' %}
        </section>
    </section>
</header>
