{% if image %}
    {% set _img = image %}
{% endif %}


<a
    class="cta-banner-wrapper"
    href="{{ link.url }}"
    {% if link.is_external %} target="_blank" {% endif %}
    {% if link.nofollow %} rel="nofollow" {% endif %}
>
    <aside
            class="cta-banner-background"
            data-background="{{ _img }}"
            style="background-image: url('{{ _img }}');" >
        <div class="cta-banner-content">
            {{ title }}
        </div>
    </aside>
</a>
