.product-card--vertical {
  background: $card-product-v-background;
  display: flex;
  flex-direction: column;
  height: 100%;

  figure {
    margin: 0;
    background-size: cover;
    height: 345px;
    position: relative;
  }

  &:hover {
    .product-card--v--image {
      opacity: 0;
      transition: opacity 225ms linear;
    }
  }
}

.product-card--v--image {
  opacity: 1;
  transition: opacity 225ms linear;
  z-index: 1;
  position: relative;
}

.product-card--v--image--hover {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.product-card--v--content {
  padding: get-spacing();
  color: $card-product-v-content-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.product-card--v--title {
  margin: $card-product-v-content-title-margin;
  font-size: $card-product-v-content-title-fontsize;
  a {
    color: $card-product-v-content-title-link-color;
    text-decoration: none;
  }
}

.product-card--v--price {
  font-weight: $card-product-v-content-price-fontweight;
  color: $card-product-v-content-price-color;
  font-size: $card-product-v-content-price-fontsize;
  margin: $card-product-v-content-price-margin;
  display: block;
}

.product-card--v--footer {
  display: flex;
  align-items: center;

  @if $card-product-v-content-info-underline {
    .product-card--v--more-info {
      text-decoration: underline;
    }
  }
}

.product-card--v--more-info {
  color: $card-product-v-content-info-color;
}

