.product-card--vertical {
  background: theme-get-color('secondary');
}

.product-card--v--content {
  padding: get-spacing();
  color: theme-get-color('black');
}

.product-card--v--title {
  margin-top: 0;
  font-size: 20px;
  a {
    color: theme-get-color('black');
  }
}

.product-card--v--price {
  font-weight: 600;
  color: theme-get-color('primary');
  font-size: 20px;
}

.product-card--v--footer {
  display: flex;

  .product-card--v--more-info {
    text-decoration: underline;
  }
}

.product-card--v--more-info {
  color: theme-get-color('black');
}
