.elementor-widget-banner,
.elementor-widget-banner > .elementor-widget-container {
  height: 100%;
}

.cta-banner-wrapper {
  background: $cta-banner-wrapper-background;

  @media screen and (min-width: map-get($screens, 'md')) {
    height: 100%;
    display: block;
  }
}

.cta-banner-background {
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  will-change: transform;
}

.cta-banner-content {
  background: $cta-banner-content-background;
  color: $cta-banner-content-color;
  text-transform: uppercase;
  width: 100%;
  font-size: $cta-banner-content-fontsize;
  padding: $cta-banner-content-padding;
  line-height: $cta-banner-content-lineheight;
  margin: $cta-banner-content-margin;
  font-weight: $cta-banner-content-fontweight;


  @media screen and (min-width: map-get($screens, 'md')) {
    width: $cta-banner-content-width;
  }

  @if $cta-banner-content-firstline {
    &::first-line {
      font-weight: 300;
    }
  }
}
