.checkout-add-coupon {
  @extend %btn;

  border: get-border($btn-coupon-border);
  color: $btn-coupon-color;
  text-transform: $btn-coupon-texttransform;
  display: block;
  @if $btn-coupon-selfcentered {
    margin-left: auto;
    margin-right: auto;
  }

  margin:$btn-coupon-margin;
  width: $btn-coupon-width;
  text-align: $btn-coupon-textalign;

  transition: all 225ms linear;
  &:hover {
    color: $btn-coupon-color--hover;
    border: get-border($btn-coupon-border--hover);
  }
}
