.table--cart {
  width: $ctable-width;
  border-collapse: collapse;
  text-align: $ctable-textalign;

  @media screen and (max-width: map-get($screens, 'md')) {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 1rem;
  }
}

.table-header--cart {
  background-color: $ctable-background--header;

  th {
    padding: $ctable-padding--header;
    @if $ctable-border--header {
      border: $ctable-border--header;
    }
  }

  @media screen and (max-width: map-get($screens, 'md')) {
    display: none;
  }
}

.table-body--cart {
  @if $ctable-background--body {
    background-color: $ctable-background--body;
  }
  td {
    padding: $ctable-padding--body;
    @if $ctable-border--body {
      border: $ctable-border--body;
    }
  }
}

.table-footer--cart {
  @if $ctable-background--footer {
    background-color: $ctable-background--footer;
  }

  @if $ctable-border--footer {
    border: $ctable-border--footer;
  }

  td {
    padding: $ctable-padding--footer;
  }
}

.cart-delete--circle {
  color: $ctable-delete-color--circle;
  .fa-xs & {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.cart-delete--times {
  color: $ctable-delete-color--times;
}

.cart-thumbnail--image {
  width: $ctable-width--thumbnail;
  height: $ctable-height--thumbnail;
}

.cart-title {
  font-weight: $ctable-fontweight--title;
}

.cart-price {
  color: $ctable-color--price;
}

.cart-totals {
  color: $ctable-color--totals;
  font-weight: $ctable-fontweight--totals;
}
