.content {
  font-family: get-font('base'), serif;

  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: get-spacing('md');
    }

    p {
      margin-bottom: get-spacing('sm');
    }
  }
}

html {
  font-family: get-font('base'), serif;
}

.page-title {
  color: theme-get-color('primary');
  text-decoration: underline dotted;
  text-transform: uppercase;
  font-weight: 300;
  text-underline-offset: .5rem;
}
