%add-to-cart-button {
  @extend %btn;
  color: $button-atc-color;
  background: $button-atc-background;

  @if $button-atc-uppercase {
    text-transform: uppercase;
  }

  transition: background-color 355ms cubic-bezier(0.4, 1.25, 0.2, 1);

  &:hover {
    background: $button-atc-color--hover;
  }
}

.product-card--add-to-cart {
  @extend %add-to-cart-button;
}

.product-add-to-cart {
  @extend %add-to-cart-button;
  margin-left: 1rem;
}
