.product-card--horizontal {
  display: flex;
  width: 100%;
  background: theme-get-color('secondary');
  margin-bottom: .875rem;

  @media screen and (max-width: map-get($screens, 'md')) {
    display: block;
  }

  &:hover {
    .product-card--h--image {
      opacity: 0;
      transition: opacity 225ms linear;
    }
  }
}

.product-card--h--image-wrapper {
  margin: 0;
  position: relative;
  flex: 0 0 auto;

  .product-card--h--image,
  .product-card--h--image--hover {
    height: 100%;
  }
}

.product-card--h--image {
  width: 300px;
  opacity: 1;
  transition: opacity 225ms linear;
  z-index: 1;
  position: relative;

  @media screen and (max-width: map-get($screens, 'md')) {
    width: auto;
    height: auto;
  }
}

.product-card--h--image--hover {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.product-card--h--content {
  padding: 2rem;
  max-width: 50%;
  @include max-breakpoint('lg') {
    max-width: 35%;
  }

  @include max-breakpoint('md') {
    max-width: 100%;
  }
}

.product-card--h--category {
  a {
    color: adjust-color(theme-get-color('black'), $alpha: -.35);
    text-decoration: none;
  }
}

.product-card--h--title {
  margin: .25rem 0;
  a {
    color: theme-get-color('black');
    text-decoration: none;
  }
}

.product-card--h--product-attributes {
  color: adjust-color(theme-get-color('black'), $alpha: -.55);
}

.product-card--h--more-info {
  color: theme-get-color('black');
}

.product-card--h--sidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 0;

  @media screen and (max-width: map-get($screens, 'md')) {
    padding: 2rem;
  }
}

.product-card--h--price {
  @extend .product-card--v--price;
  margin: 0;
  text-decoration: none;
}

.product-card--h--add-to-cart-form {
  margin-top: auto;
}

.product-card--h--availability {
  font-weight: 300;
  color: theme-get-color('success');
  margin: .5rem 0;
  text-transform: uppercase;
}
