.mobile-padded {
  @media screen and (max-width: map-get($screens, 'md')) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.woocommerce-account .content .woocommerce {
  @extend %container;
  margin: auto;
}

.optional {
  display: none;
}

.ie-only-banner {
  position: fixed;
  z-index: 9999;
  background:
  white;
  bottom: 0;
  left: 0;
  right: 0;
}

