.qty-btn {
  @extend %btn;
  color: $button-qty-color;
  border: $button-qty-borderwidth $button-qty-borderstyle $button-qty-bordercolor;
  transition: all 225ms linear;

  &:not([disabled]):hover {
    border-width: $button-qty-borderwidth--disabled;
    border-style: $button-qty-borderstyle--disabled;
    border-color: $button-qty-bordercolor--disabled;
  }

  &--left {
    border-right: 0;
  }

  &--right {
    border-left: 0;
  }
}
