<section class="notification js-notification notification--info content">
    {% if messages %}
        {% for message in messages %}
            <p class="notification-content notification-content--info">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
</section>
