%btn {
  border: 0;
  background: transparent;
  all: unset;
  border-radius: $btn-default-radius;
  padding: $btn-default-padding;
  color: $btn-default-color;
  background: $btn-default-background;
  cursor: pointer;
}

.btn {
  @extend %btn;

  @each $name, $map in $colors {
    .#{$name} {
      color: theme-get-color($name, 1);
      background: theme-get-color($name);
    }

    .#{$name}-inverted {
      color: theme-get-color($name);
      background: theme-get-color($name, 1);
    }

    .#{$name}-outlined {
      color: theme-get-color($name);
      border: 1px solid theme-get-color($name);
      background: transparent;
    }
  }
}
