.product-tabs-container {
  display: flex;

  @media screen and (max-width: map-get($screens, 'md')) {
    overflow-x: scroll;
  }
}

.product-tabs {
  @extend %btn;
  @each $border, $val in $tabs-product-borders {
    @if $val {
      border-#{$border}: $tabs-product-borderwidth $tabs-product-borderstyle $tabs-product-bordercolor;
    }
  }

  color: $tabs-product-color;
  cursor: pointer;

  padding: $tabs-product-padding;
  transition: color 225ms cubic-bezier(0.2, 0.4, 0, 1);

  width: 100%;
  text-align: center;

  &--active {
    @each $border, $val in $tabs-product-borders--active {
      @if $val {
        border-#{$border}: $tabs-product-borderwidth--active $tabs-product-borderstyle--active $tabs-product-bordercolor--active;
      }
    }
    border-bottom: none;
    color: $tabs-product-color--active;
  }
}

.product-content {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.2, 0.4, 0, 1);
  &--active {
    visibility: visible;
    display: block;
    opacity: 1;
  }
}
