<header class="product-header" style="background-image: url({{ post.thumbnail.src('large') }})">
    <div class="container auto flex">
        <aside class="product-header__floater">
                <span class="product-header__category">
                    {{ fn('wc_get_product_category_list', post.ID) }}
                </span>
            <h1 class="product-header__title">{{ post.title }}</h1>
        </aside>
    </div>
</header>
