<section class="mobile-padded">
    <h4 class="product-title page-title title-relateds">Anderen kochten ook</h4>

    <div class="related-container">
        {% for related in related_products %}
            {{ include('partials/tease/product-vertical.html.twig', { product: related }, with_context = false) }}
        {% endfor %}
    </div>
</section>
