<aside class="product-sidebar">
    <span class="product-price" style="display: block">
        <span class="product-price-number">{{ product.get_price_html }}</span>
    </span>

    <form method="GET" class="product-add-to-cart-form">
        <div class="flex">
            <section class="add-to-cart-qty-input">
                <button type="button" class="js-btn-sub qty-btn qty-btn--left">-</button>
                <input type="number" name="quantity" id="quantity" value="1" min="1" />
                <button type="button" class="js-btn-add qty-btn qty-btn--right">+</button>
            </section>
            <input type="hidden" value="{{ post.ID }}" id="product_id" name="product_id">
            <input type="hidden" value="{{ post.ID }}" id="add-to-cart" name="add-to-cart">
            <button type="submit" class="product-add-to-cart">
                <i class="fas fa-shopping-cart"></i> bestellen
            </button>
        </div>
    </form>


    <span class="product-status available">Beschikbaar:</span> binnen 3 weken gerealiseerd

    <ol class="product-usp">
        <li>Voeg dit product toe aan uw bestelling</li>
        <li>Geef uw wensen op tijdens het afrekenen</li>
        <li>Onze adviseurs nemen contact met u op voor een afspraak</li>
    </ol>
</aside>
