<nav class="product-tabs-container">
    <button class="js-product-tab product-tabs product-tabs--active" data-target="#description">
        <i class="fas fa-align-left"></i> Omschrijving
    </button>
    <button class="js-product-tab product-tabs" data-target="#eigenschappen">
        <i class="fas fa-bookmark"></i> Eigenschappen
    </button>
    <button class="js-product-tab product-tabs" data-target="#faq">
        <i class="fas fa-question"></i> Veelgestelde vragen
    </button>
    <button class="js-product-tab product-tabs" data-target="#review">
        <i class="fas fa-star"></i> Reviews (0)
    </button>
</nav>
<section class="tab-content">
    {{ include('partials/woocommerce/product/tabs/description.html.twig') }}

    {{ include('partials/woocommerce/product/tabs/attributes.html.twig') }}

    {{ include('partials/woocommerce/product/tabs/faq.html.twig') }}

    {{ include('partials/woocommerce/product/tabs/reviews.html.twig') }}
</section>
